#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.form-element {
  padding: 20px 0px;
}

.p-sidebar-header {
  font-size: 24px;
  font-weight: bold;
  padding: 30px 40px;
}

.p-sidebar-content {
  padding: 0 40px 40px 40px;
}

.ant-select-dropdown {
  z-index: 99999;
}